<div class="container">
    <div class="portfolio-grid">
        <h1>Choose your feed:</h1>
        <div style="display: block; margin: auto; padding-bottom: 25px;">
            <select [ngModel]="selectedFeed" (ngModelChange)="onChange($event)">
                <option *ngFor="let feed of feeds" [value]="feed.id">{{feed.name}}</option>
            </select>
        </div>
        <div *ngFor="let articleCol of articles" class="port-grid">
                <div *ngFor="let article of articleCol" class="portfolio web mix_all" data-cat="web" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper ">		
                            <a href="/article/{{article.id}}" class="b-link-stripe b-animate-go  thickbox play-icon ">
                             <img class="img-responsive" src="{{article.image}}" alt=""  />
                        	</a>
                            <div class="simple-out">
                                <h4><a href="/article/{{article.id}}">{{article.title}}</a></h4>
                                <!--<span>ADD DATE HERE</span>-->
                                <p *ngIf="article.content">{{article.content.slice(0, 35) + ".."}}</p>
                                <a href="/article/{{article.id}}" class="read-more"><span> </span>MORE</a>
                            </div>							
                        </div>
                    </div>
        </div>
        <!--<div id="portfoliolist">
            <div *ngFor="let articleCol of articles" class=" port-grid">
                <div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
                    <div class="portfolio-wrapper ">		
                        <a href="single.html" class="b-link-stripe b-animate-go  thickbox play-icon">
                        <img class="img-responsive" src="{{article.image}}" alt=""  />
                        <div class="simple-out">
                            <h4><a href="single.html">{{article.name}}</a></h4>
                            <span>January 15, 2015  /  <a href="single.html">news</a>, <a href="single.html">contests</a></span>
                            <p>Lorem ipsum dolor sit amet, te possim inimicus ius. Alii ullam at corper pri ad, per nulla luptatum te, in qui delenit nostrum. Nam ad labores.</p>
                            <a href="#" class="read-more"><span> </span>MORE</a>
                        </div>						
                    </div>
                </div>
            </div>
        </div> -->  
                        <!--</div>	
                			
                <!--<div class="portfolio icon mix_all" data-cat="icon" style="display: inline-block; opacity: 1;">
                    <div class="portfolio-wrapper">		
                        <a href="single.html" class="b-link-stripe b-animate-go  thickbox play-icon ">
                        <img class="img-responsive" src="images/po4.jpg" alt=""  />
                        
                         <div class="simple-in sed">
                         <i class="plus-in"> </i>
                            <ul class="social">
                            <li><span> </span>23</li>
                            <li><span class="text"> </span>11/1/2015</li>
                            <li><span class="number"> </span>11</li>
                            <div class="clearfix"> </div>
                            </ul>
                        </div>	</a>
                    <div class="simple-out">
                            <h4><a href="single.html">Big Buck Bunny</a></h4>
                            <span>January 15, 2015  /  <a href="single.html">news</a>, <a href="single.html">contests</a></span>
                            <p>Lorem ipsum dolor sit amet, te possim inimicus ius. Alii ullam at corper pri ad, per nulla luptatum te, in qui delenit nostrum. Nam ad labores.</p>
                            <a href="#" class="read-more"><span> </span>MORE</a>
                        </div>							
                    </div>
                </div>		
                <div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
                    <div class="portfolio-wrapper">		
                        <a href="single.html" class="b-link-stripe b-animate-go  thickbox play-icon ">
                         <img class="img-responsive" src="images/po8.jpg"  alt="" />
                         
                         <div class="simple-in in-on">
                         <i class="plus-in"> </i>
                            <ul class="social">
                            <li><span> </span>857</li>
                            <li><span class="text"> </span>11/1/2015</li>
                            <li><span class="number"> </span>892</li>
                            <div class="clearfix"> </div>
                            </ul>
                        </div>	</a>
                        <div class="simple-out">
                            <h4><a href="single.html">Pinterest Icons</a></h4>
                            <span>January 15, 2015  /  <a href="single.html">news</a>, <a href="single.html">contests</a></span>
                            <p>Lorem ipsum dolor sit amet, te possim inimicus ius. Alii ullam at corper pri ad, per nulla luptatum te, in qui delenit nostrum. Nam ad labores.</p>
                            <a href="#" class="read-more"><span> </span>MORE</a>
                        </div>							
                    </div>
                </div>
            </div>	
            <div class="  port-grid">
                <div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
                    <div class="portfolio-wrapper ">		
                        <a href="single.html" class="b-link-stripe b-animate-go  thickbox play-icon ">
                         <img class="img-responsive" src="images/po1.jpg" alt=""  />
                        
                         <div class="simple-in sed">
                         <i class="plus-in"> </i>
                            <ul class="social">
                            <li><span> </span>857</li>
                            <li><span class="text"> </span>11/1/2015</li>
                            <li><span class="number"> </span>892</li>
                            <div class="clearfix"> </div>
                            </ul>
                        </div>	</a>
                        <div class="simple-out">
                            <h4><a href="single.html">10 Amazing Websites</a></h4>
                            <span>January 15, 2015  /  <a href="single.html">news</a>, <a href="single.html">contests</a></span>
                            <p>Lorem ipsum dolor sit amet, te possim inimicus ius. Alii ullam at corper pri ad, per nulla luptatum te, in qui delenit nostrum. Nam ad labores.</p>
                            <a href="#" class="read-more"><span> </span>MORE</a>
                        </div>							
                    </div>
                </div>	
                			
                <div class="portfolio set mix_all" data-cat="set" style="display: inline-block; opacity: 1;">
                    <div class="portfolio-wrapper">		
                        <a href="single.html" class="b-link-stripe b-animate-go  thickbox play-icon ">
                         <img class="img-responsive" src="images/po9.jpg" alt=""  />
                       
                         <div class="simple-in sed">
                         <i class="plus-in"> </i>
                            <ul class="social">
                            <li><span> </span>857</li>
                            <li><span class="text"> </span>11/1/2015</li>
                            <li><span class="number"> </span>892</li>
                            <div class="clearfix"> </div>
                            </ul>
                        </div>		</a>
                        <div class="simple-out">
                            <h4><a href="single.html">iPad 3 Review</a></h4>
                            <span>January 15, 2015  /  <a href="single.html">news</a>, <a href="single.html">contests</a></span>
                            <p>Lorem ipsum dolor sit amet, te possim inimicus ius. Alii ullam at corper pri ad, per nulla luptatum te, in qui delenit nostrum. Nam ad labores.</p>
                            <a href="#" class="read-more"><span> </span>MORE</a>
                        </div>
                    </div>
                </div>
                </div>
                <div class=" port-grid">
                <div class="portfolio web mix_all" data-cat="web" style="display: inline-block; opacity: 1;">
                    <div class="portfolio-wrapper">		
                        <a href="single.html" class="b-link-stripe b-animate-go  thickbox play-icon ">
                         <img class="img-responsive" src="images/po2.jpg" alt=""  />
                    
                         <div class="simple-in in-on">
                         <i class="plus-in"> </i>
                            <ul class="social">
                            <li><span> </span>857</li>
                            <li><span class="text"> </span>11/1/2015</li>
                            <li><span class="number"> </span>892</li>
                            <div class="clearfix"> </div>
                            </ul>
                        </div>	</a>
                        <div class="simple-out">
                            <h4><a href="single.html">Top iPhone Apps</a></h4>
                            <span>January 15, 2015  /  <a href="single.html">news</a>, <a href="single.html">contests</a></span>
                            <p>Lorem ipsum dolor sit amet, te possim inimicus ius. Alii ullam at corper pri ad, per nulla luptatum te, in qui delenit nostrum. Nam ad labores.</p>
                            <a href="#" class="read-more"><span> </span>MORE</a>
                        </div>							
                    </div>
                </div>
                <div class="portfolio icon mix_all" data-cat="icon" style="display: inline-block; opacity: 1;">
                    <div class="portfolio-wrapper">		
                        <a href="single.html" class="b-link-stripe b-animate-go  thickbox play-icon ">
                         <img class="img-responsive" src="images/po6.jpg" alt=""  />						    
                         <div class="simple-in">
                         <i class="plus-in"> </i>
                            <ul class="social">
                            <li><span> </span>857</li>
                            <li><span class="text"> </span>11/1/2015</li>
                            <li><span class="number"> </span>892</li>
                            <div class="clearfix"> </div>
                            </ul>
                        </div>	</a>
                        <div class="simple-out">
                            <h4><a href="single.html">Service Icons</a></h4>
                            <span>January 15, 2015  /  <a href="single.html">news</a>, <a href="single.html">contests</a></span>
                            <p>Lorem ipsum dolor sit amet, te possim inimicus ius. Alii ullam at corper pri ad, per nulla luptatum te, in qui delenit nostrum. Nam ad labores.</p>
                            <a href="#" class="read-more"><span> </span>MORE</a>
                        </div>							
                    </div>
                </div>
                <div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
                    <div class="portfolio-wrapper ">		
                        <a href="single.html" class="b-link-stripe b-animate-go  thickbox play-icon">
                        <img class="img-responsive" src="images/po10.jpg" alt=""  />
                        
                         <div class="simple-in eight">
                         <i class="plus-in"> </i>
                            <ul class="social">
                            <li><span> </span>857</li>
                            <li><span class="text"> </span>11/1/2015</li>
                            <li><span class="number"> </span>892</li>
                            <div class="clearfix"> </div>
                            </ul>
                        </div>	</a>
                        <div class="simple-out">
                            <h4><a href="single.html">Social Media Buttons</a></h4>
                            <span>January 15, 2015  /  <a href="single.html">news</a>, <a href="single.html">contests</a></span>
                            <p>Lorem ipsum dolor sit amet, te possim inimicus ius. Alii ullam at corper pri ad, per nulla luptatum te, in qui delenit nostrum. Nam ad labores.</p>
                            <a href="#" class="read-more"><span> </span>MORE</a>
                        </div>							
                    </div>
                </div>	
                </div>
                <div class=" port-grid">					
                <div class="portfolio icon mix_all" data-cat="icon" style="display: inline-block; opacity: 1;">
                    <div class="portfolio-wrapper">		
                        <a href="single.html" class="b-link-stripe b-animate-go  thickbox play-icon ">
                        <img class="img-responsive" src="images/po3.jpg" alt=""  />
                        
                         <div class="simple-in so-in">
                         <i class="plus-in"> </i>
                            <ul class="social">
                            <li><span> </span>857</li>
                            <li><span class="text"> </span>11/1/2015</li>
                            <li><span class="number"> </span>892</li>
                            <div class="clearfix"> </div>
                            </ul>
                        </div>	</a>
                        <div class="simple-out">
                            <h4><a href="single.html">Photo Shoot</a></h4>
                            <span>January 15, 2015  /  <a href="single.html">news</a>, <a href="single.html">contests</a></span>
                            <p>Lorem ipsum dolor sit amet, te possim inimicus ius. Alii ullam at corper pri ad, per nulla luptatum te, in qui delenit nostrum. Nam ad labores.</p>
                            <a href="#" class="read-more"><span> </span>MORE</a>
                        </div>							
                    </div>
                </div>		
                <div class="portfolio set mix_all" data-cat="set" style="display: inline-block; opacity: 1;">
                    <div class="portfolio-wrapper">		
                        <a href="single.html" class="b-link-stripe b-animate-go  thickbox play-icon ">
                         <img class="img-responsive" src="images/po7.jpg"  alt="" />						     
                         <div class="simple-in">
                         <i class="plus-in"> </i>
                            <ul class="social">
                            <li><span> </span>857</li>
                            <li><span class="text"> </span>11/1/2015</li>
                            <li><span class="number"> </span>892</li>
                            <div class="clearfix"> </div>
                            </ul>
                        </div>
                        </a>
                        <div class="simple-out">
                            <h4><a href="single.html">Wedding Card</a></h4>
                            <span>January 15, 2015  /  <a href="single.html">news</a>, <a href="single.html">contests</a></span>
                            <p>Lorem ipsum dolor sit amet, te possim inimicus ius. Alii ullam at corper pri ad, per nulla luptatum te, in qui delenit nostrum. Nam ad labores.</p>
                            <a href="#" class="read-more"><span> </span>MORE</a>
                        </div>							
                    </div>
                </div>				
                <div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
                    <div class="portfolio-wrapper ">		
                        <a href="single.html" class="b-link-stripe b-animate-go  thickbox play-icon ">
                         <img class="img-responsive" src="images/po11.jpg" alt=""  />
                         <div class="simple-in so-on">
                         <i class="plus-in"> </i>
                            <ul class="social">
                            <li><span> </span>857</li>
                            <li><span class="text"> </span>11/1/2015</li>
                            <li><span class="number"> </span>892</li>
                            <div class="clearfix"> </div>
                            </ul>
                        </div></a>
                             <div class="simple-out">
                            <h4><a href="single.html">Silver UI Kit</a></h4>
                            <span>January 15, 2015  /  <a href="single.html">news</a>, <a href="single.html">contests</a></span>
                            <p>Lorem ipsum dolor sit amet, te possim inimicus ius. Alii ullam at corper pri ad, per nulla luptatum te, in qui delenit nostrum. Nam ad labores.</p>
                            <a href="#" class="read-more"><span> </span>MORE</a>
                        </div>
                    </div>
                </div>	
                </div>	 -->
        
    <div class="clearfix"> </div>
    </div>
</div>