<div class="header">
    <div class="top-nav">
        <span class="menu"> </span>
        <ul>
            <li><a href="/" > HOME </a></li>
            <li *ngIf="token"><a href="/feed" > FEED </a></li>
            <li *ngIf="token"><a href="/feed-new" > CONFIGURE FEED </a></li>
            <li *ngIf="token"><a href="/source-new" > CONFIGURE NEWS SOURCE</a></li>						
            <li *ngIf="token == null"><a href="/login" >LOG IN</a></li>
            <li *ngIf="token == null"><a href="/register" >REGISTER</a></li>
            <li *ngIf="token"><a href="/logout">LOG OUT</a></li>
        </ul>
    </div>			
</div>