<div>
    <h2>Register</h2>
    <div style="margin-top: 15px;">
        <p>Full Name:</p>
        <input [(ngModel)]="name" type="text">
    </div>
    <div style="margin-top: 15px;">
            <p>Email:</p>
        <input [(ngModel)]="email" type="email">          
    </div>
    <div style="margin-top: 15px;">
            <p>Password: </p>
        <input [(ngModel)]="password" type="password">       
    </div>
    <button style="margin-top: 15px;" (click)="register()">Register</button>
</div>
